#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- List open-source tools used in Data Science

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3. Julia

Some of the commonly used libraries used by Data Scientists include:


1.   matplotlib
2.   numpy
3. pandas

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook           |
| RStudio                    |
| VSCode            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Meet S